body {
    background-color: linen;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

.table { 
    width: 100%; 
}
h1 {
    color: maroon;
    margin-left: 40px;
}
#nav-icon {
    width: 3%;
    height: 3%;
}
.bg-nav {
    background-color: #62f0e2;
}
.circle {
    background: green;
    border-radius: 50%;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: inline-block;
    padding: 10px;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}
.circle_display {
    background: blue;
    border-radius: 50%;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: inline-block;
    padding: 10px;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}
.circle_hide {
    background: red;
    border-radius: 50%;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: inline-block;
    padding: 10px;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}
footer {
    position: fixed;
    padding: 10px;
    bottom: 0;
    width: 100%;
    background-color: wheat;
    color: black;
    text-align: center;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}

/* Drop Down Nav Class navbar*/
